:root {
	--blue: #3875B7;
	--yellow: #FECA52;
	--orange: #DF643A;
	--red: #FF4E4C;
	--red-secondary: #FF7372;
	--dark-blue: #35314C;
	--black: #231F20;
	--white: #F0F0F0;
}

html {
	height: 100%;
	text-rendering: optimizeLegibility;
}

body {
	background-size: 100%;
	margin: 0;
	background-repeat: no-repeat !important;
    background-attachment: fixed !important;
	background: rgb(49, 74, 67);
	background: -moz-linear-gradient(180deg, var(--green), var(--green-third) 100%);
	background: -webkit-linear-gradient(180deg, var(--green) 0%, var(--green-third) 100%);
	background: linear-gradient(180deg, var(--green) 0%, var(--green-third) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#314a43", endColorstr="#004f3a", GradientType=1);
}


.header-link {
	color: var(--white) !important;
}

.header-link:hover {
	color: var(--black) !important;
}

.nav-links {
	background-color: var(--orange) !important;
}