/*
 * Peoria V0.0.2
 * Copyright 2020, Diego Palmerin
 *
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 10/3/2020
 */

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
	- Global Variables
	- Font Styles
	- Default Tags
	- Selection
	- Scrollbar
	- Utilities
	- Classes
		- Hamburger Menu
		- Navigation Menu
		- Grid
		- Text
		- Flex
		- Margins
		- Absolute
		- Color
	- Media Queries
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

:root {
	/* Colors
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	--white: #ffffff;
	--mid-white: #EEEEEE;
	--mid-gray: #C4C4C4;
	--grayed-out: #979797;
	--dark-blue: #1E2D45;
	--black: #121212;
	--blue: #41607F;
	--blue-secondary: #566385;
	--blue-third: #6A7285;
	--orange: #F9825C;
	--orange-secondary: #FAAF96;
	--orange-third: #FAD4C8;
	--red: #F26680;
	--red-secondary: #E3949B;
	--red-third: #E3B6B9;
	--yellow: #F2DC6D;
	--yellow-secondary: #F2E49D;
	--yellow-third: #F2EAC2;
	--green: #728C73;
	--green-secondary: #7E9481;
	--green-third: #859487;

	/* Fonts
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	--font-face: "Roboto Mono", "Courier New", Courier, monospace;

	/* Grid values
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	--col: 65px;
	--gutter: 30px;
	--half-col: calc(var(--col) / 2);
	--half-gutter: calc(var(--gutter) / 2); }

/* Font Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.super-title,
.super-secondary-title,
.main-title,
.body-text,
.secondary-title,
.secondary-body,
.links,
.button-text,
.small-body,
h1,
h2,
h3,
h4,
p,
b {
	font-family: var(--font-face);
	font-style: normal; }
.super-title,
h1 {
	display: inline;
	font-weight: 500;
	font-size: 72px;
	line-height: 85px;
	letter-spacing: 5%; }
.super-secondary-title,
h2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 0%; }
.main-title,
h3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;}
.body-text,
p {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px; }
.secondary-title,
h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 32px; }
.secondary-body {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px; }
.small-body {
	font-weight: 400;
	font-size: 12px;
	line-height: 24px; }
a,a:visited,a:active,.links {
	color: inherit;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px; }
.button-text {
	font-weight: 500;
	font-size: 10px;
	line-height: 30px;
	letter-spacing: 5%; }
b { color: var(--black); }
.bold { font-weight: bold; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

/* Start of Style Sheet
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* { margin: 0; }
html {
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	height: 100vh; }
body {
	background-color: var(--white);
	color: var(--black);
	font-family: var(--font-face); }
a, a:visited {
	cursor: pointer;
	text-decoration: none; }
a:hover { color: var(--blue); }
footer div a, footer div a:visited { color: var(--white); }
input {
	height: var(--gutter);
	border: none;
	border-bottom: 1px var(--mid-gray) solid;
	margin: 0 0 var(--gutter) 0 }
.special-input {
	height: calc(var(--gutter) + 2 * var(--col));
	width: 98%;
	resize: none;
	padding: 2px;
	border: none;
	border-bottom: 1px var(--mid-gray) solid; }
input:focus,
.special-input:focus {
	outline: none;
	border-bottom: 1px var(--blue) solid; }
.button,
button {
	text-align: center;
	background-color: transparent;
	border-radius: 3px;
	border: 1px var(--black) solid;
	padding: 5px; }
header {
	width: 100%;
	padding: var(--half-gutter) 0; }
footer {
	height: 215px;
	width: 100%; }

/* Selection
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-moz-selection {
	background: var(--white);
	color: var(--black); }
::selection { background-color: var(--yellow-third); }

/* Scrollbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar { display: none; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right { float: right; }
.u-pull-left { float: left; }
.card {
	padding: var(--col) calc(var(--gutter) + var(--col));
	background: var(--white);
	box-shadow: 2px 5px 10px #0000002b; }
.night {
  background-color: #000;
	color: #fff;
	--white: #000;
	--black: #fff; }
.image-cover { object-fit: cover; }
.relative { position: relative; }
.gutter-height { height: var(--gutter); }
.half-gutter-height { height: var(--half-gutter); }
.col-height { height: var(--col); }
.fullscreen {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh; }
.half-screen {
	position: relative;
	top: 0;
	width: 100%;
	height: 50vh; }
.rounded { border-radius: 3px; }
.back { z-index: -1; }
.back-2 { z-index: -2; }
.front { z-index: 1; }
.front-2 { z-index: 2; }
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
.inset-boxshadow-dark-blue {
	-webkit-box-shadow: var(--gutter) calc(var(--gutter) * -1) 0 0 var(--dark-blue);
	-moz-box-shadow: var(--gutter) calc(var(--gutter) * -1) 0 0 var(--dark-blue);
	box-shadow: var(--gutter) calc(var(--gutter) * -1) 0 0 var(--dark-blue); }

/* Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.division-line {
	width: 80%;
	margin: calc(var(--gutter) / 2) auto;
	background-color: var(--mid-gray);
	height: 2px; }

/* Hamburger Menu
-------------------------------------------------- */
.line{
	background: var(--white);
	width: 30px;
	height: 3px;
	margin: 5px; }
.hamburger{
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 50%;
	transform: translate(-5%, -50%);
	z-index: 2; }
.hamburger:hover .line { background: var(--mid-gray); }
.hamburger.active:hover .line { background: var(--red); }
.hamburger.active .line { background: var(--red); }

/* Navigation Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-links.open {
	display: block;
	background: var(--blue-secondary);
	z-index: 1; }
.nav-links {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	display: none;
	flex-direction: column;
	padding-inline-start: 0;
	transition: all .2s ease-in; }
.nav-links li {
	width: 100%;
	height: var(--gutter);
	margin: var(--col) 0;
	list-style: none;
	text-align: center; }
.social-icons {	bottom: 11%; }
.social-icons a {	margin: 0 auto; }
.header-link {
	text-decoration: none;
	display: block;
	color: var(--white); }
.header-link:hover { color: var(--white); }
.header-link:focus {
	background: transparent;
	border: solid 1px var(--blue); }

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
	box-sizing: border-box; }
.right { float: left; }
.left { float: right; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container { width: 80%; }
  .column,
  .columns { margin-left: 4%; }
  .column:first-child,
  .columns:first-child { margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

	.half.column                { width: 48%; }
	.full.column												{ width: 100%; }

  /* Offsets */
  .one-offset.column,
  .one-offset.columns         { margin-left: 8.66666666667%; }
  .two-offset.column,
  .two-offset.columns         { margin-left: 17.3333333333%; }
  .three-offset.column,
  .three-offset.columns       { margin-left: 26%;            }
  .four-offset.column,
  .four-offset.columns        { margin-left: 34.6666666667%; }
  .five-offset.column,
  .five-offset.columns        { margin-left: 43.3333333333%; }
  .six-offset.column,
  .six-offset.columns         { margin-left: 52%;            }
  .seven-offset.column,
  .seven-offset.columns       { margin-left: 60.6666666667%; }
  .eight-offset.column,
  .eight-offset.columns       { margin-left: 69.3333333333%; }
  .nine-offset.column,
  .nine-offset.columns        { margin-left: 78.0%;          }
  .ten-offset.column,
  .ten-offset.columns         { margin-left: 86.6666666667%; }
  .eleven-offset.column,
  .eleven-offset.columns      { margin-left: 95.3333333333%; }

  .one-third-offset.column,
  .one-third-offset.columns   { margin-left: 34.6666666667%; }
  .two-thirds-offset.column,
  .two-thirds-offset.columns  { margin-left: 69.3333333333%; }

  .half-offset.column,
	.half-offset.columns     		{ margin-left: 52%; }

	.full-height								{ height: 100%; }

	.inline 										{ display: inline; }
	.block											{ display: block; }
}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.selected a,
.selected:hover {
	background: var(--blue) !important;
	color: var(--white) !important; }
.text-primary {
	color: var(--blue-secondary);
	margin: 0; }

/* Flex
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	justify-items: center;
	margin: auto; }
.flex-item { flex: auto; }
.top-align { align-items: flex-start; }

/* Margins
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.margin-none 								{ margin: 0; }
.margin-auto 								{ margin: auto; }
.margin-auto-sides 					{ margin: 0 auto; }
.margin-auto-vertical				{ margin: auto 0; }
.col-margin 								{ margin: var(--col); }
.col-margin-left 						{ margin-left: var(--col); }
.col-margin-right 					{ margin-right: var(--col); }
.col-margin-bottom 					{ margin-bottom: var(--col); }
.col-margin-top 						{ margin-top: var(--col); }
.col-margin-vertical 				{ margin: var(--col) 0; }
.half-col-margin 						{ margin: calc(var(--col) / 2); }
.half-col-margin-left 			{ margin-left: calc(var(--col) / 2); }
.half-col-margin-right 			{ margin-right: calc(var(--col) / 2); }
.half-col-margin-bottom 		{ margin-bottom: calc(var(--col) / 2); }
.half-col-margin-top 				{ margin-top: calc(var(--col) / 2); }
.half-col-margin-vertical 	{ margin: var(--half-col) 0; }
.gutter-margin 							{ margin: var(--gutter); }
.gutter-margin-left 				{ margin-left: var(--gutter); }
.gutter-margin-right 				{ margin-right: var(--gutter); }
.gutter-margin-bottom 			{ margin-bottom: var(--gutter); }
.gutter-margin-top 					{ margin-top: var(--gutter); }
.gutter-margin-vertical			{ margin: var(--gutter) 0; }
.half-gutter-margin 				{ margin: var(--half-gutter); }
.half-gutter-margin-left 		{ margin-left: var(--gutter); }
.half-gutter-margin-right 	{ margin-right: var(--gutter); }
.half-gutter-margin-bottom 	{ margin-bottom: var(--gutter); }
.half-gutter-margin-top 		{ margin-top: var(--gutter); }
.half-gutter-margin-vertical{ margin: var(--gutter) 0; }
.half-screen-margin-bottom 	{ margin-bottom: 50vh; }
.half-screen-margin-top 		{ margin-top: 50vh; }

/* Absolute
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); }
.horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%); }
.absolute {	position: absolute; }

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.white { color: var(--white); }
.white-bg { background: var(--white); }
.mid-white { color: var(--mid-white); }
.mid-white-bg { background: var(--mid-white); }
.mid-gray { color: var(--mid-gray); }
.mid-gray-bg { background: var(--mid-gray); }
.grayed-out { color: var(--grayed-out); }
.grayed-out-bg { background: var(--grayed-out); }
.dark-blue { color: var(--dark-blue); }
.dark-blue-bg { background: var(--dark-blue); }
.black { color: var(--black); }
.black-bg { background: var(--black); }
.blue { color: var(--blue); }
.blue-bg { background: var(--blue); }
.blue-secondary { color: var(--blue-secondary); }
.blue-secondary-bg { background: var(--blue-secondary); }
.blue-third { color: var(--blue-third); }
.blue-third-bg { background: var(--blue-third); }
.orange { color: var(--orange); }
.orange-bg { background: var(--orange); }
.orange-secondary { color: var(--orange-secondary); }
.orange-secondary-bg { background: var(--orange-secondary); }
.orange-third { color: var(--orange-third); }
.orange-third-bg { background: var(--orange-third); }
.red { color: var(--red); }
.red-bg { background: var(--red); }
.red-secondary { color: var(--red-secondary); }
.red-secondary-bg { background: var(--red-secondary); }
.red-third { color: var(--red-third); }
.red-third-bg { background: var(--red-third); }
.yellow { color: var(--yellow); }
.yellow-bg { background: var(--yellow); }
.yellow-secondary { color: var(--yellow-secondary); }
.yellow-secondary-bg { background: var(--yellow-secondary); }
.yellow-third { color: var(--yellow-third); }
.yellow-third-bg { background: var(--yellow-third); }
.green { color: var(--green); }
.green-bg { background: var(--green); }
.green-secondary { color: var(--green-secondary); }
.green-secondary-bg { background: var(--green-secondary); }
.green-third { color: var(--green-third); }
.green-third-bg { background: var(--green-third); }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {
	.tablet-hide { display: none; }

	.mobile-hide { display: none; }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	.tablet-hide { display: none; }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}