@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik+Glitch&display=swap");

:root {
  --title: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --default: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.body,
p,
a {
  font-size: 1rem;
}

.grid {
  gap: var(--col);
}

.small {
  font-size: 0.8rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.glass, .card {
  padding: var(--h-col);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

p:last-child {
    margin-bottom: 0;
}
