@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    font-size: 16px;
    line-height: 24px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --surface-1: #006a4e;
    --surface-2: #006a4e;
    --surface-3: #006a4e;
    --surface-4: #006a4e;
    --surface-5: #006a4e;

    --back: 32 32 32;
    --main: 241 241 241;

    --primary-40: 64 89 173;
    --primary-60: 116 140 228;

    --error-50: 222 55 48;
    --error-60: 255 84 73;

    --blue: 44 95 134;
    --orange: 213 138 63;

    color-scheme: light;
    color: rgb(var(--main));
    background-color: #006a4e;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth !important;

    --sm-img: url('');
    --md-img: url('');
    --xl-img: url('');
  }

  a {
    text-decoration: inherit;
  }

  html {
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    background-color: #006a4e;
    @apply overflow-x-hidden font-sans text-lg font-extralight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  p,
  text {
    @apply text-main drop-shadow-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    @apply font-title font-thin uppercase tracking-widest;
  }

  h1 {
    @apply text-4xl leading-relaxed md:text-6xl;
  }

  h2 {
    @apply mb-4 text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  input,
  textarea,
  select {
    @apply rounded-lg bg-surface-2 px-4 py-2 text-lg shadow-inner
    outline outline-surface-5 transition-colors hover:bg-surface-1
    focus:bg-surface-1;
  }
}

@layer components {
  body::after {
    content: '';
    @apply !pointer-events-none fixed left-0 top-0 h-full w-full
    bg-gradient-to-tl from-slate-100 to-slate-800
    opacity-40 mix-blend-overlay;
  }

  body::before {
    content: '';
    @apply !pointer-events-none fixed -z-10 transform-gpu bg-cover bg-fixed mix-blend-multiply contrast-200 motion-reduce:hidden;
    background-image: url('./assets/noise.gif');
    height: 100vh;
    width: 100vw;
  }

  .s-truncate {
    @apply truncate;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@layer components {
  i,
  .italic-serif {
    @apply font-title font-light uppercase italic leading-relaxed tracking-wider;
  }
}

@-webkit-keyframes grain {
  0%,
  100% {
    --translate-x: 0;
    --translate-y: 0;
  }
  10% {
    --translate-x: -5%;
    --translate-y: -10%;
  }
  20% {
    --translate-x: -15%;
    --translate-y: 5%;
  }
  30% {
    --translate-x: 7%;
    --translate-y: -25%;
  }
  40% {
    --translate-x: -5%;
    --translate-y: 25%;
  }
  50% {
    --translate-x: -15%;
    --translate-y: 10%;
  }
  60% {
    --translate-x: 15%;
    --translate-y: 0%;
  }
  70% {
    --translate-x: 0%;
    --translate-y: 15%;
  }
  80% {
    --translate-x: 3%;
    --translate-y: -35%;
  }
  90% {
    --translate-x: -10%;
    --translate-y: 10%;
  }
}

@keyframes grain {
  0%,
  100% {
    --translate-x: 0;
    --translate-y: 0;
  }
  10% {
    --translate-x: -5%;
    --translate-y: -10%;
  }
  20% {
    --translate-x: -15%;
    --translate-y: 5%;
  }
  30% {
    --translate-x: 7%;
    --translate-y: -25%;
  }
  40% {
    --translate-x: -5%;
    --translate-y: 25%;
  }
  50% {
    --translate-x: -15%;
    --translate-y: 10%;
  }
  60% {
    --translate-x: 15%;
    --translate-y: 0%;
  }
  70% {
    --translate-x: 0%;
    --translate-y: 15%;
  }
  80% {
    --translate-x: 3%;
    --translate-y: -35%;
  }
  90% {
    --translate-x: -10%;
    --translate-y: 10%;
  }
}
