@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    font-size: 16px;
    line-height: 24px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --surface-1: 27 27 31;
    --surface-2: 39 41 49;
    --surface-3: 44 46 56;
    --surface-4: 46 47 58;
    --surface-5: 49 51 62;

    --back: 32 32 32;
    --main: 241 241 241;

    --primary-40: 64 89 173;
    --primary-60: 116 140 228;

    --error-50: 222 55 48;
    --error-60: 255 84 73;

    --blue: 44 95 134;
    --orange: 213 138 63;

    color-scheme: light;
    color: rgb(var(--main));
    background-color: rgb(var(--surface-2));

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth !important;

    --sm-img: url('');
    --md-img: url('');
    --xl-img: url('');
  }

  a {
    text-decoration: inherit;
  }

  html {
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    background-color: #1e1320;
    @apply font-sans overflow-x-hidden font-extralight text-lg md:text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  p,
  text {
    @apply text-main drop-shadow-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    @apply font-thin font-title uppercase tracking-widest;
  }

  h1 {
    @apply text-4xl md:text-6xl leading-relaxed;
  }

  h2 {
    @apply text-xl font-bold mb-4;
  }

  h3 {
    @apply text-lg font-bold;
  }

  input,
  textarea,
  select {
    @apply bg-surface-2 shadow-inner px-4 py-2 text-lg rounded-lg
    outline outline-surface-5 hover:bg-surface-1 transition-colors
    focus:bg-surface-1;
  }
}

@layer components {
  .stylized-bg {
    @apply fixed w-full h-screen min-h-screen blur-lg
    bg-fixed brightness-150 md:blur-none bg-cover bg-center
    md:brightness-110 object-cover object-center bg-blend-color
    mix-blend-color -z-40;
    background-color: #1e1320;
    background-image: var(--sm-img);
  }

  .stylized-bg::after {
    content: '';
    @apply w-full h-full fixed top-0 left-0
    from-slate-100 to-slate-800 bg-gradient-to-t
    opacity-20 mix-blend-multiply;
  }

  @screen md {
    .stylized-bg {
      background-image: var(--md-img), var(--sm-img);
    }
  }

  @screen lg {
    .stylized-bg {
      background-image: var(--xl-img), var(--md-img), var(--sm-img);
    }
  }
  .home-bg::after {
    content: '';
    @apply fixed w-screen h-screen top-0 left-0 backdrop-brightness-50;
  }

  .about-bg {
    @apply brightness-200;
  }

  .detail-bg.stylized-bg::after {
    content: '';
    @apply from-emerald-100 to-emerald-800 bg-gradient-to-t;
  }

  .png-grain {
    @apply fixed -z-10 pointer-events-none
    transform mix-blend-difference;
    background: url('./assets/noise.png') repeat center center;
    background-size: 256px;
    height: 400vw;
    width: 400vw;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    left: -100%;
    top: -100%;
  }
  .gif-grain {
    @apply fixed top-0 w-full h-full bg-repeat
    left-0 pointer-events-none mix-blend-overlay -z-10;
    background-size: cover;
  }

  .s-truncate {
    @apply truncate;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@layer components {
  i,
  .italic-serif {
    @apply font-title font-light italic tracking-wider leading-relaxed uppercase;
  }
}

@-webkit-keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, -35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 5%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, -35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
